@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');


.navname{
    font-size: 24px;
    /* font-family:"Playwrite TZ", cursive; */
    /* font-family:"Playwrite IT Trad",cursive; */
    font-family: "Playwrite DE VA", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color:rebeccapurple;
    margin: 0px 40px;

}